@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
}

/*ESTILOS BASE*/

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

.container {
    width: 100%;
    margin: auto;
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    width: 100%;
}

/*ESTILOS HEADER*/

.main__header {
    width: 100%;
}

.logo {
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
}

.main__header-contactinfo-phone {
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.main__header-contactinfo-address {
    margin: 0 auto;
    padding: 10px;

}

.main__header [class*="fa-solid"]:before {
    position: relative;
    bottom: 1px;
    right: 5px;
}

/*ESTILOS MENU*/

.main-nav {
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 0 10px;
}

.icon-menu {
    display: block;
    color: #DE423A;
    border: 2px solid #DE423A;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin: 0;
}

.social-icon__link {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.3em;
    text-decoration: none;
    background: white;
    border-radius: 50%;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.9);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}

.menu__link {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu__link:hover {
    background: #DE423A;
}

.menu__link--select {
    background: #DE423A;
}

.show {
    height: 230px;
}

/*ESTILOS BANNER*/

.banner {
    margin-top: -55px;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    top: 0;
}

.banner__img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}

.banner__content {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

/*ESTILOS PRINCIPALES*/

.group--color .container {
    background: #DE423A;
    color: white;
    padding: 10px;
    text-align: center;
}

.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
}

.column__title {
    font-size: 1.8em;
    font-weight: 100;
}

.main__about-description .column:nth-child(2) {
    padding: 10px;
    text-align: center;
}

.btn {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 50%;
    background: #DE423A;
    color: white;
    padding: 15px;
    margin: 10px auto;
}

.group__title {
    margin-top: 25px;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 20px;
    font-weight: 100;
}

.today-special .column {
    margin-bottom: 30px;
    text-align: center;
}

.today-special__img {
    margin: auto;
    max-width: 340px;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
}

.today-special__title {
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: underline;
}

.today-special__price {
    font-size: 1.5em;
    color: #DE423A;
    font-weight: bold;
}

/*ESTILOS FOOTER*/

.main-footer {
    background: #222;
    color: white;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}

.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.column__txt {
    font-size: 1.1em;
    padding-left: 10px;
}

.column__txt i {
    color: white;
    text-decoration: none;
}

.column__txt i:before {
    position: relative;
    right: 6px;
}

/*ESTILOS RESPONSIVE*/

@media screen and (min-width:480px) {
    .logo {
        color: white;
    }

    .main {
        padding-bottom: 15px;
    }

    .main-nav .container {
        padding: 5px 10px;
    }

    .main__header-contactinfo {
        text-align: right;
    }

    .main__header-contactinfo-phone {
        background: none;
    }

    .main__header-contactinfo-address {
        color: white;
    }

    .main-nav {
        background: rgba(0,0,0,0.9);
    }

    .social-icon {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        margin: 0;
    }

    .banner {
        margin-top: -190px;
        z-index: -1000;
    }

    .banner__img {
        height: 655px;
    }

    .banner__content {
        font-size: 2em;
    }

    .main__about-description .column:nth-child(2) {
        padding-left: 20px;
        font-size: .9em;
    }

    .today-special .column {
        border: 5px solid #ddd;
        border-radius: 10px;
        padding: 5px;
    }

    .column--50 img {
        height: 480px;
        object-fit: cover;
    }

    .group__title {
        margin: 20px;
    }
    .column--50 {
        width: 49%;
    }

    .column--50-25 {
        width: 47%;
        margin: 0 5px;
    }

    .main-footer .container--flex {
        align-items: flex-start;
    }

    .column__title {
        font-size: 1.6em;
    }

    .column--33 {
        width: 30%;
        text-align: center;
    }

    .btn {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 90%;
        background: #DE423A;
        color: white;
        padding: 15px 0;
        margin: 10px auto;
    }    
}

@media screen and (min-width:768px) {
    .main__header {
        width: 100%;
        padding: 0 0.75em;
    }
    
    .main__title {
        font-size: 2.2em;
    }

    .main-nav {
        padding-top: 0;
    }

    .banner__img {
        height: 660px;
    }

    .main__about-description .column:nth-child(2) {
        padding-left: 20px;
        font-size: 1em;
        line-height: 30px;
    }

    .column--50-25 {
        width: 23%;
        margin: 0 5px;
    }

    .column__title {
        font-size: 1em;
    }

    .group__title {
        font-size: 2.2em;
    }

    .column__title {
        font-size: 1.8em;
    }

    .column__txt {
        font-size: 1.5em;
    }
}

@media screen and (min-width:1024px) {

    .container {
        width: 1000px;
    }

    .logo {
        font-size: 2em;
        padding: 0;
    }

    .main__header-contactinfo-address
    .main__header-contactinfo-phone {
        padding: 0;
        padding-right: 0;
        font-size: 1.2em;
    }

    .main-nav {
        padding: 0;
    }

    .banner__img {
        height: 725px;
        width: 100%;
    }

    .banner__content {
        font-size: 2.5em;
    }

    .icon-menu {
        display: none;
    }

    .menu {
        display: flex;
        height: auto;
        position: static;
        width: auto;
    }

    .menu__link {
        padding: 15px 20px;
        font-size: 1.2em;
    }

    .group--color .container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .main__title {
        font-size: 2.5em;
    }
    
    .column__title {
        font-size: 1.8em;
    }

    .main__about-description .column:nth-child(2) .column__txt {
        line-height: 40px;
    }

    .today-special__title {
        font-size: 1.4em;
    }

    .today-special__price {
        font-size: 1.8em;
    }

    .main-footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .copy {
        font-size: 1.2em;
    }
}

@media screen and (min-width:1600px) {
    .container {
        width: 1400px;
    }

    .logo {
        font-size: 2.5em;
        padding: 0;
    }

    .banner__img {
        height: 810px;
    }

    .main__about-description .column:nth-child(1) img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
    }

    .today-special__img {
        height: 300px;
    }
}







