.contact-info {
    padding: 0 25px;
    padding-top: 0;
    margin-bottom: 30px;
}

.contact-info .column__title {
    font-size: 1.3em;
    text-decoration: underline;
}

.contact-info span {
    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 5px;
}

.contact-info .social-icon {
    justify-content: flex-end;
    margin-bottom: 10px;
}

.contact-info .social-icon i {
    background: black;
    color: white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 15px;
    padding: 10px;
}

.formulario {
    border-top: 1px solid #DE423A;
    padding: 0 20px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.formulario__label, .formulario__input-txt, .formulario__textarea {
    display: block;
    width: 100%;
}

.formulario__input-txt {
    padding: 10px;
    margin-bottom: 10px;
}

.formulario__textarea {
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.formulario__btn {
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-top: 25px;
}

@media screen and (min-width:480px) {
    
    .contact .container--flex {
        align-items: center;
        justify-content: center;
    }

    .contact-info .social-icon {
        justify-content: space-evenly;
        margin: 20px auto;
        padding: 0;
    }
    
    .contact-info .social-icon i {
        background: black;
        color: white;
        border-radius: 50%;
        margin: 10px auto;
        padding: 12px;
    }

    .contact-info p {
        font-size: .9em;
    }

    .formulario {
        border-left: 1px solid #DE423A;
        border-top: none;
        padding-left: 25px;
    }
}

@media screen and (min-width:768px) {
    
    .contact-info .social-icon {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0;
    }
    
    .contact-info .social-icon i {
        background: black;
        color: white;
        border-radius: 50%;
        margin: 0;
        margin-top: 25px;
        padding: 15px;
    }

    .contact-info p {
        font-size: 1em;
    }

    .contact-info .column__title {
        font-size: 1.5em;
    }

    .column__txt {
        padding-left: 0;
    }
}

@media screen and (min-width:1024px) {
    
    .contact-info .social-icon {
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin: 0;
    }
    
    .contact-info .social-icon i {
        background: black;
        color: white;
        border-radius: 50%;
        margin: 0;
        margin-top: 45px;
        padding: 20px;
    }
}

@media screen and (min-width:1600px) {
    
    .contact-info .social-icon {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .contact-info .social-icon i {
        background: black;
        color: white;
        border-radius: 50%;
        margin: 0;
        margin-top: 45px;
        padding: 20px;
    }
}